.npc-sheet .gm-section {
    /* height: 48px; */
    color: #000;
    /* font-weight: 700; */
    font-size: 20px;
    margin-top: 0.5rem;
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 20px;
    color: #4b4a44;
    font-size: 18px;
}
.npc-sheet .gm-header {
  margin-top: 0.5rem;
}
.npc-sheet .gm-settings .permissions-list, 
.npc-sheet .gm-settings .coin-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.npc-sheet .gm-settings .permission,
.npc-sheet .gm-settings .denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 21px;
  line-height: 21px;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
.npc-sheet .gm-settings .permission,
.npc-sheet .gm-settings .denomination > * {
  flex: 1;
}
.npc-sheet .gm-settings .permission .permission-name {
  margin: 0;
}
.npc-sheet .gm-settings .permission .permission-proficiency {
  text-align: center;
  flex: 0 0 24px;
}
.npc-sheet .gm-settings .permission .permission-proficiency i.fa-circle {
  font-size: 10px;
}
.npc-sheet .gm-settings .split-coins {
  width: 95%;
}

.dnd5e.sheet .window-content form {
	overflow: auto !important;
}

img.sheet-profile {
	border: none;
	max-width: 220px;
	max-height: 220px;
}

section.sheet-sidebar.sidebar {
	flex: 0 0 250px;
	border-bottom: 2px groove #eeede0;
    border-right: 2px groove #eeede0;
}

.sheet-profile-img {
	text-align: center;
}

section.sheet-content.content {
    border-bottom: 2px groove #eeede0;
}

.dnd5e.sheet.actor .inventory-list .item-price {
    flex: 0 0 100px;
    color: #666;
	font-size: 10px;
}

.dnd5e.sheet .sheet-header .charbutton {
  flex: 0 0 200px;
  margin: auto;
  text-align: right;
}

button.price-modifier {
  width: auto;
  padding: 1px 10px;
  margin-right: 5px;
}

.dnd5e.sheet .sheet-navigation {
  margin-bottom: 15px;
}

input#price-modifier-percent-display {
  background: none;
  border: 1px solid transparent;
  width: 50px;
}

input#price-modifier-percent-display:hover, input#price-modifier-percent-display:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}

.loot-sheet-npc .sheet-profile-img {
    padding: 10px;
}