<form class="{{cssClass}}" autocomplete="off">

    <!-- <section class="sheet-upper"> -->
    
        <!-- HEADER -->
        <header class="sheet-header flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>
            {{#if isGM}}
            <div class="charbutton">
                <button class="price-modifier" type="price-modifier" name="price-modifier" value=""><i class="fa fa-balance-scale"></i> Price Modifier</button>
            </div>
            {{/if}}
        </header>

        <!-- <img class="sheet-profile sidebar" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/> -->

<!--     </section> -->

    <!-- SHEET NAVIGATION -->
<!--     <nav class="sheet-navigation">
        <nav class="sheet-tabs tabs sidebar" data-group="sidebar">
            <a class="item active" data-tab="gm-settings">GM Settings</a>
        </nav>
        <nav class="sheet-tabs tabs content" data-group="primary">
            <a class="item active" data-tab="features">Features</a>
        </nav>
    </nav> -->


    <section class="sheet-lower flexrow">

		<!-- SIDEBAR -->
        <section class="sheet-sidebar sidebar">
			<div class="sheet-profile-img">
				<img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
			</div>

            {{#if isGM}}

<!--             <nav class="sheet-tabs tabs" data-group="sidebar">
                <a class="item" data-tab="gm-settings">GM Settings</a>
            </nav> -->
            
            <h3 class="gm-section">GM Settings</h3>

            <!-- GM SETTINGS -->
            <div class="gm-settings" data-group="sidebar" data-tab="gm-settings">
                <h3 class="gm-header"><i class="fas fa-users"></i> Permissions</h3>
                <ol class="permissions-list">
                    {{#each actor.flags.loot.players as |player p|}}
                        <li class="permission" data-skill="{{p}}">
                            <input type="hidden" name="{{player.playerId}}" value="{{player.lootPermission}}" data-dtype="Number" actor="{{player.actorId}}"/>
                            <a class="permission-proficiency" title="{{player.lootPermissionDescription}}">{{{player.icon}}}</a>
                            <h4 class="permission-name">{{player.actor}} ({{player.name}})</h4>
                        </li>
                    {{/each}}
                </ol>
                <h3 class="gm-header"><i class="fas fa-coins"></i> Coin Distribution</h3>
                <ol class="coins-list">
                    {{#each actor.flags.loot.currency as |c i|}}
                        <li class="denomination {{i}}">
                            <label>{{ lookup ../config.currencies i }}:</label>
                            <h4 class="denomination-value">{{c.value}} each</h4>
                        </li>
                    {{/each}}
                </ol>
                <button class= "split-coins" type="split-coins" name="split-coins" value="1"><i class="fa fa-coins"></i> Split {{actor.flags.loot.ownerCount}} Ways</button>
            </div>

            {{/if}}
            
        </section>
		
        <!-- BODY -->
        <section class="sheet-content content">
            <nav class="sheet-navigation tabs" data-group="primary">
                <a class="item active" data-tab="inventory">Inventory</a>
                <a class="item" data-tab="biography">Biography</a>
            </nav>

            <div class="tab" data-tab="biography" data-group="primary">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>

            <div class="tab" data-tab="inventory" data-group="primary">
                <!-- FEATURES -->
                <div class="features" data-group="primary" data-tab="features">
                    <div class="inventory-filters">
                        <ol class="currency flexrow">
                            <h3>
                                Currency
                            </h3>
                            {{#each data.currency as |c i|}}
                                <label class="denomination {{i}}">{{ lookup ../config.currencies i }}</label>
                                <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
                            {{/each}}
                        </ol>
                    </div>

                    <div class="header-details flexrow">
                        <ul class="inventory-list directory-list">
                        {{#each actor.features as |section sid|}}
                            <li class="item flexrow inventory-header">
                                <h3 class="item-name">{{section.label}}</h3>
                                {{#if ../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create Item" data-type="{{section.type}}">
                                        <i class="fas fa-plus"></i> Add
                                    </a>
                                </div>
                                {{/if}}
                            </li>

                            {{#each section.items as |item iid|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-name flexrow rollable">
                                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                                    <h4>{{item.name}}</h4>
                                </div>
                                <div class="item-price">
                                    <i class="fas fa-coins"></i> {{item.data.price}}
                                </div>
                                {{#if ../../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                        {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            


        </section>

        
    </section>
</form>
